In [21]:
import pandas as pd
import numpy as np

In [22]:
school_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Schools_Complete.csv")
student_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Students_Complete.csv")

In [23]:
school_df
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [24]:
school_df_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"]) 
school_df_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [25]:
different_school_names=school_df_complete['school_name'].unique()
number_of_schools=len(different_school_names)
number_of_schools

15

In [26]:
number_students=school_df_complete['Student ID'].unique()
total_students=len(number_students)
total_students

39170

In [27]:
total_budget=school_df_complete['budget'].sum()
total_budget

82932329558

In [29]:
average_math=school_df_complete['math_score'].mean()
average_math

78.98537145774827

In [30]:
average_reading=school_df_complete['reading_score'].mean()
average_reading

81.87784018381414

In [31]:
passing_math_df=school_df_complete.loc[school_df_complete['math_score']>=70]['math_score'].count()
percent_passing_math=passing_math_df/total_students*100
percent_passing_math

74.9808526933878

In [32]:
passing_reading_df=school_df_complete.loc[school_df_complete['reading_score']>=70]['reading_score'].count()
percent_passing_reading=passing_reading_df/total_students*100
percent_passing_reading

85.80546336482001

In [33]:
overall_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)]['Student ID'].count()/total_students*100
overall_passing

65.17232575950983

In [34]:
district_summary = pd.DataFrame({
    "School Type": [number_of_schools], "Total Students": [total_students],
    "Total School Budget": total_budget, "Average Math Score": [average_math], "Average Reading Score": [average_reading],
    "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [overall_passing]
})
district_summary.style.format({"Total School Budget": "${:,.2f}",
                              "Average Math Score": "${:,.1f}",
                              "Average Reading Score": "${:,.1f}",
                              "% Passing Math": "${:,.1f}", 
                              "% Passing Reading": "${:,.1f}",
                              "% Overall Passing": "${:,.1f}"})

In [18]:
by_school = school_df_complete.set_index('school_name').groupby(['school_name'])
by_school
school_types = school_df_complete.set_index('type').groupby['school_name']).min()
school_types

SyntaxError: invalid syntax (<ipython-input-18-aa1a2439123a>, line 3)

In [ ]:
students_per_school = by_school['Student ID'].count()
students_per_school

In [ ]:
budget_per_school = by_school['budget'].sum()
budget_per_school
budget_per_student = budget_per_school/students_per_school *100
budget_per_student

In [ ]:
average_math_per_school = by_school['math_score'].mean()
average_math_per_school

In [ ]:
average_reading_per_school = by_school['reading_score'].mean()
average_reading_per_school

In [ ]:
passing_math=school_df_complete[school_df_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_math
passing_reading=school_df_complete[school_df_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_reading

In [20]:
total_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)].groupby('school_name')['Student ID'].count()/students_per_school*100
total_passing

NameError: name 'students_per_school' is not defined

In [19]:
school_summary_df=pd.DataFrame({
    "School Type": school_types,
    "Total Students": students_per_school, "Total School Budget": budget_per_school,
     "Per Student Budget": budget_per_student, "Average Math Score": average_math_per_school,
    "Average Reading Score": average_reading_per_school, "% Passing Math": passing_math, 
    "% Passing Reading": passing_reading, 
    "% Overall Passing": total_passing
})

school_summary_df.head()

NameError: name 'school_types' is not defined

In [ ]:
top_performing_schools=school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head()

In [ ]:
bottom_performing_schools=top_performing_schools.tail()
bottom_performing_schools

In [ ]:
ninth_grade_math=student_df.loc[student_df['grade']=='9th'].groupby('school_name')["math_score"].mean()
ninth_grade_math

In [ ]:
tenth_grade_math=student_df.loc[student_df['grade']=='10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math=student_df.loc[student_df['grade']=='11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math=student_df.loc[student_df['grade']=='12th'].groupby('school_name')["math_score"].mean()

In [ ]:
average_math_per_grade=pd.DataFrame({"9th": [ninth_grade_math], "10th": [tenth_grade_math], "11th": [eleventh_grade_math],
                              "12th": [twelfth_grade_math]
    
})
average_math_per_grade

In [ ]:
ninth_grade_reading=student_df.loc[student_df['grade']=='9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading=student_df.loc[student_df['grade']=='10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading=student_df.loc[student_df['grade']=='11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading=student_df.loc[student_df['grade']=='12th'].groupby('school_name')["reading_score"].mean()

average_reading_per_grade=pd.DataFrame({"9th": [ninth_grade_reading], "10th": [tenth_grade_reading], "11th": [eleventh_grade_reading],
                              "12th": [twelfth_grade_reading]})
average_reading_per_grade=average_reading_per_grade[['9th', '10th', '11th', '12th']]
average_reading_per_grade.index.name="School"
average_reading_per_grade