In [2]:
import pandas as pd
import numpy as np

In [3]:
school_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Schools_Complete.csv")
student_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Students_Complete.csv")

In [4]:
school_df
student_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
school_df_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"]) 
school_df_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
different_school_names=school_df_complete['school_name'].unique()
number_of_schools=len(different_school_names)
number_of_schools

15

In [7]:
number_students=school_df_complete['Student ID'].unique()
total_students=len(number_students)
total_students

39170

In [8]:
total_budget=school_df_complete['budget'].sum()
total_budget

82932329558

In [9]:
average_math=school_df_complete['math_score'].mean()
average_math

78.98537145774827

In [10]:
average_reading=school_df_complete['reading_score'].mean()
average_reading

81.87784018381414

In [11]:
passing_math_df=school_df_complete.loc[school_df_complete['math_score']>=70]['math_score'].count()
percent_passing_math=passing_math_df/total_students*100
percent_passing_math

74.9808526933878

In [12]:
passing_reading_df=school_df_complete.loc[school_df_complete['reading_score']>=70]['reading_score'].count()
percent_passing_reading=passing_reading_df/total_students*100
percent_passing_reading

85.80546336482001

In [13]:
overall_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)]['Student ID'].count()/total_students*100
overall_passing

65.17232575950983

In [15]:
district_summary = pd.DataFrame({
    "School Type": [number_of_schools], "Total Students": [total_students],
    "Total School Budget": total_budget, "Average Math Score": [average_math],
    "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [overall_passing]
})
district_summary

,School Type,Total Students,Total School Budget,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,74.980853,85.805463,65.172326

In [14]:
by_school = school_df_complete.set_index('school_name').groupby(['school_name'])
by_school
school_types = school_df_complete.set_index('school_name')['type']
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [15]:
students_per_school = by_school['Student ID'].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
budget_per_school = by_school['budget'].sum()
budget_per_school
budget_per_student = budget_per_school/students_per_school *100
budget_per_student

school_name
Bailey High School       312492800.0
Cabrera High School      108135600.0
Figueroa High School     188441100.0
Ford High School         176391600.0
Griffin High School       91750000.0
Hernandez High School    302202000.0
Holden High School        24808700.0
Huang High School        191063500.0
Johnson High School      309465000.0
Pena High School          58585800.0
Rodriguez High School    254736300.0
Shelton High School      105660000.0
Thomas High School       104313000.0
Wilson High School       131957400.0
Wright High School       104940000.0
dtype: float64

In [17]:
average_math_per_school = by_school['math_score'].mean()
average_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
average_reading_per_school = by_school['reading_score'].mean()
average_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
passing_math=school_df_complete[school_df_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_math
passing_reading=school_df_complete[school_df_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [20]:
total_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)].groupby('school_name')['Student ID'].count()/students_per_school*100
total_passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [21]:
school_summary_df=pd.DataFrame({
    "School Name": [by_school], "School Type": [school_types],
    "Total Students": [students_per_school], "Total School Budget": [budget_per_school],
     "Per Student Budget": [budget_per_student], "Average Math Score": [average_math_per_school],
    "Average Reading Score": [average_reading_per_school], "% Passing Math": [passing_math], "% Passing Reading": [passing_reading], 
    "% Overall Passing": [total_passing]
})
school_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 155496417...,school_name Bailey High School 312492800...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [30]:
top_performing_schools=school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 155496417...,school_name Bailey High School 312492800...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...