In [2]:
import pandas as pd
import numpy as np

In [3]:
school_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Schools_Complete.csv")
student_df = pd.read_csv(r"C:\Users\cynth\Desktop\Pandas-Challenge\PyCitySchools\Resources\Students_Complete.csv")

In [4]:
school_df
student_df
school_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
school_df_complete = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"]) 
school_df_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
different_school_names=school_df_complete['school_name'].unique()
number_of_schools=len(different_school_names)
number_of_schools

15

In [40]:
number_students=school_df_complete['Student ID'].unique()
total_students=len(number_students)
total_students

39170

In [8]:
total_budget=school_df_complete['budget'].sum()
total_budget

82932329558

In [9]:
average_math=school_df_complete['math_score'].mean()
average_math

78.98537145774827

In [10]:
average_reading=school_df_complete['reading_score'].mean()
average_reading

81.87784018381414

In [11]:
passing_math_df=school_df_complete.loc[school_df_complete['math_score']>=70]['math_score'].count()
percent_passing_math=passing_math_df/total_students*100
percent_passing_math

74.9808526933878

In [12]:
passing_reading_df=school_df_complete.loc[school_df_complete['reading_score']>=70]['reading_score'].count()
percent_passing_reading=passing_reading_df/total_students*100
percent_passing_reading

85.80546336482001

In [13]:
overall_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)]['Student ID'].count()/total_students*100
overall_passing

65.17232575950983

In [14]:
district_summary = pd.DataFrame({
    "School Type": [number_of_schools], "Total Students": [total_students],
    "Total School Budget": total_budget, "Average Math Score": [average_math], "Average Reading Score": [average_reading],
    "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [overall_passing]
})
district_summary.style.format({"Total School Budget": "${:,.2f}",
                              "Average Math Score": "${:,.1f}",
                              "Average Reading Score": "${:,.1f}",
                              "% Passing Math": "${:,.1f}", 
                              "% Passing Reading": "${:,.1f}",
                              "% Overall Passing": "${:,.1f}"})

In [15]:
by_school = school_df_complete.set_index('school_name').groupby(['school_name'])
by_school

school_types=school_df.set_index('school_name')['type'].groupby(['school_name']).min()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [16]:
students_per_school = by_school['Student ID'].count()
students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [17]:
budget_per_school = by_school['budget'].sum()
budget_per_school
budget_per_student = budget_per_school/students_per_school *100
budget_per_student

school_name
Bailey High School       312492800.0
Cabrera High School      108135600.0
Figueroa High School     188441100.0
Ford High School         176391600.0
Griffin High School       91750000.0
Hernandez High School    302202000.0
Holden High School        24808700.0
Huang High School        191063500.0
Johnson High School      309465000.0
Pena High School          58585800.0
Rodriguez High School    254736300.0
Shelton High School      105660000.0
Thomas High School       104313000.0
Wilson High School       131957400.0
Wright High School       104940000.0
dtype: float64

In [18]:
average_math_per_school = by_school['math_score'].mean()
average_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
average_reading_per_school = by_school['reading_score'].mean()
average_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
passing_math=school_df_complete[school_df_complete['math_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_math
passing_reading=school_df_complete[school_df_complete['reading_score'] >=70].groupby('school_name')['Student ID'].count()/students_per_school*100
passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [21]:
total_passing=school_df_complete[(school_df_complete['math_score']>=70) & (school_df_complete['reading_score']>=70)].groupby('school_name')['Student ID'].count()/students_per_school*100
total_passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [22]:
school_summary_df=pd.DataFrame({
    "School Type": school_types,
    "Total Students": students_per_school, "Total School Budget": budget_per_school,
     "Per Student Budget": budget_per_student, "Average Math Score": average_math_per_school,
    "Average Reading Score": average_reading_per_school, "% Passing Math": passing_math, 
    "% Passing Reading": passing_reading, 
    "% Overall Passing": total_passing
})

school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,15549641728,312492800.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,2009159448,108135600.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,5557128039,188441100.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,4831365924,176391600.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,1346890000,91750000.0,83.351499,83.816757,93.392371,97.138965,90.599455

In [23]:
top_performing_schools=school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,2009159448,108135600.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1705517550,104313000.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,1346890000,91750000.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,3012587442,131957400.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,563595396,58585800.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [24]:
bottom_performing_schools=top_performing_schools.tail()
bottom_performing_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,4761,14733628650,309465000.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,14007062700,302202000.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,5573322295,191063500.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,5557128039,188441100.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,10186904637,254736300.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [25]:
ninth_grade_math=student_df.loc[student_df['grade']=='9th'].groupby('school_name')["math_score"].mean()
ninth_grade_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [26]:
tenth_grade_math=student_df.loc[student_df['grade']=='10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math=student_df.loc[student_df['grade']=='11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math=student_df.loc[student_df['grade']=='12th'].groupby('school_name')["math_score"].mean()

In [27]:
average_math_per_grade=pd.DataFrame({"9th": ninth_grade_math, "10th": tenth_grade_math, "11th": eleventh_grade_math,
                              "12th": twelfth_grade_math
    
})
average_math_per_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [28]:
ninth_grade_reading=student_df.loc[student_df['grade']=='9th'].groupby('school_name')["reading_score"].mean()
tenth_grade_reading=student_df.loc[student_df['grade']=='10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading=student_df.loc[student_df['grade']=='11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading=student_df.loc[student_df['grade']=='12th'].groupby('school_name')["reading_score"].mean()

average_reading_per_grade=pd.DataFrame({"9th": ninth_grade_reading, "10th": tenth_grade_reading, "11th": eleventh_grade_reading,
                              "12th": twelfth_grade_reading})
average_reading_per_grade=average_reading_per_grade[['9th', '10th', '11th', '12th']]
average_reading_per_grade.index.name="School"
average_reading_per_grade

                             9th       10th       11th       12th
School
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [49]:
bins=[0,584.99,628.99,643.99,674.99]
score_names=["<$584", "$585-$629", "$630-$644", "$646-675"]
school_df_complete['spending_bins']=pd.cut(school_df_complete['budget']/school_df_complete['Student ID'],bins, labels=score_names)
by_spending=school_df_complete.groupby('spending_bins')
average_math = by_spending['math_score'].mean()
average_read = by_spending['reading_score'].mean()
passing_math = school_df_complete[school_df_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
passing_read = school_df_complete[school_df_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = school_df_complete[(school_df_complete['reading_score'] >= 70) & (school_df_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
scores_by_spending = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall})
scores_by_spending.index.name = "Per Student Budget"
scores_by_spending = scores_by_spend.reindex(score_names)
scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Budget,,,,,
<$584,79.200651,81.938661,0.758401,0.862023,0.662346
$585-$629,76.084071,82.110619,0.615044,0.836283,0.517699
$630-$644,76.014493,79.217391,0.637681,0.768116,0.492754
$646-675,79.083333,83.375000,0.781250,0.843750,0.656250

In [54]:
bins=[0,999.99, 1999.99, 4999.99]
size_names=["Small", "Medium", "Large"]
school_df_complete['size_bins']=pd.cut(school_df_complete['size'], bins, labels=size_names)
by_size=school_df_complete.groupby('size_bins')
average_math = by_size['math_score'].mean()
average_read = by_size['reading_score'].mean()
passing_math = school_df_complete[school_df_complete['math_score'] >= 70].groupby('size_bins')['size'].count()/by_size['size'].count()
passing_read = school_df_complete[school_df_complete['reading_score'] >= 70].groupby('size_bins')['size'].count()/by_size['size'].count()
overall = school_df_complete[(school_df_complete['reading_score'] >= 70) & (school_df_complete['math_score'] >= 70)].groupby('size_bins')['size'].count()/by_size['size'].count()
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall})
scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(size_names)
scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small,83.828654,83.974082,0.939525,0.960403,0.901368
Medium,83.372682,83.867989,0.936165,0.967731,0.906243
Large,77.477597,81.198674,0.686524,0.821252,0.565740

In [61]:
by_type = school_df_complete.groupby("type")

average_math = by_type['math_score'].mean()
average_read = by_type['math_score'].mean()
passing_math = school_df_complete[school_df_complete['math_score'] >= 70].groupby('type')['type'].count()/by_type['type'].count()
passing_read = school_df_complete[school_df_complete['reading_score'] >= 70].groupby('type')['type'].count()/by_type['type'].count()
overall = school_df_complete[(school_df_complete['reading_score'] >= 70) & (school_df_complete['math_score'] >= 70)].groupby('type')['type'].count()/by_type['Student ID'].count()
           
scores_by_type = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall})
    
scores_by_type.index.name = "Type of School"
scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Type of School,,,,,
Charter,83.406183,83.406183,0.937018,0.966459,0.905609
District,76.987026,76.987026,0.665184,0.809052,0.536959